.material-icons.md-12 {
    font-size: 12px;
}

.material-icons.md-14 {
    font-size: 14px;
}

.material-icons.md-16 {
    font-size: 16px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-20 {
    font-size: 20px;
}

.material-icons-outlined.md-20 {
    font-size: 20px;
}

.material-icons-outlined.md-16 {
    font-size: 16px;
}